@charset "UTF-8";

/* 필터 area */
div#filterContainer {
    border: solid 0px red;
    margin-bottom: 2%;
}

select.filter{
    float: right;
    margin-top: 1.5%;
}

button#excelDown {
	border-radius: 5px;
	border: solid 1px black;
	width: 10em;
	height: 2.5em;
    background-color: #00cc66;
}