@charset "UTF-8";

.tree-container {
    max-width: 100%; 
    height: 450px; 
    overflow-y: auto; /* 세로 스크롤  */
    background: #f8f9fa; 
    margin-left: 0; 
    border: 1px solid #ccc; 
}

    
    /* 본사와 지점 사이 간격 */
    #jstree > ul > li:nth-child(1) {
        margin-bottom: 50px; /* 간격 조정 */
    }
    
    #jstree > ul > li:nth-child(2) {
    margin-bottom: 50px; /* a지점과 b지점 사이 여백 */
}