<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- domain(VO) package -->
   <typeAliases>
      <typeAlias type="com.syoffice.app.employee.domain.EmployeeVO" alias="EmployeeVO"/>
      <typeAlias type="com.syoffice.app.board.domain.BoardVO" alias="BoardVO"/><!-- 부서게시판VO -->
      <typeAlias type="com.syoffice.app.board.domain.NoticeBoardVO" alias="NoticeBoardVO"/><!-- 공지사항 게시판 VO -->
      <typeAlias type="com.syoffice.app.board.domain.CommentVO" alias="CommentVO"/><!-- 댓글VO -->
      <typeAlias type="com.syoffice.app.kpi.domain.KpiVO" alias="KpiVO"/>
      <typeAlias type="com.syoffice.app.kpi.domain.ResultVO" alias="ResultVO"/>
   </typeAliases>


</configuration>