@charset "UTF-8";

div#container { 
	width: 100%;
	margin: 0 auto;
	border: solid 1px red;
}

div#container > div#title {
	width: 65%;
	margin: 0 auto;
}

div#sideMenu {
	width: 15%;
	border: solid 1px blue;
	background-color: white;
}

div#sideMenu > div#menuList {
	width: 60%;
	margin: 0 auto;
}

div#scheduleInput {
	width: 80%;
	margin: 0 auto;
	background-color: white;
}

/* 일정공유자 추가 시 각 인원을 감싸는 블럭 */
span.plusUser{
	transition: .8s;
	padding: 8px; 
	background-color: #EAF0FF;
	margin-right: 10px;
	/*
	float:left;
	background-color:#EAF0FF; 
	color:#424242;
	border-radius: 0%;
	padding: 8px;
	margin: 3px;	
	margin-top: 6px;
	*/
}

div.displayUserList {
	margin-top: 1.5%;
	margin-bottom: 0.5%;
}