@charset "UTF-8";

div#container { 
	width: 100%;
	margin: 0 auto;
	border: solid 1px red;
}
div#container > div#title {
	width: 60%;
	margin: 0 auto;
}

div#sideMenu {
	width: 15%;
	border: solid 1px blue;
	background-color: #EAF0FF;
}

div#sideMenu > div#menuList {
	width: 80%;
	margin: 2% auto 0 auto;
}


div#calendar {
	width: 75%;
	margin: 0 auto;
}

/* 캘린더 소분류 추가 시작 */
button.btn_edit{
	border: none;
	background-color: #EAF0FF;
}
/* 캘린더 소분류 추가 끝 */

/* ========== full calendar css 시작 ========== */
.fc-header-toolbar {
	height: 30px;
}

a, a:hover, .fc-daygrid {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
} 

.fc-sat { color: #0000FF; }    /* 토요일 */
.fc-sun { color: #FF0000; }    /* 일요일 */
/* ========== full calendar css 끝 ========== */