/* 메일 정보 area */
div.mailInfo_wrap {
    margin-top: 2%;
}

div.mail_header {
    border-bottom: solid 1px #ccc;
}

/* 메일 툴바 */
span.toolbar {
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}

/* user box area */
span.user {
    font-size: 12px;
    padding: 3px; 
	background-color: #EAF0FF;
	border-radius: 20px;
	border: solid 1px #666666;
    cursor: pointer;
}

/* 메일제목 */
div.title{
    margin-bottom: 1%;
}

/* 메일 전송 시각 */
span.date {
    margin-left: 0.5%;
    font-size: 12px;
    color: #666666;
}

/* 첨부파일 공간 */
div.attachment_wrap {
    margin: 2% 0 0 0.75%;
}

tr.file_info {
    width: 45%;
    margin-bottom: 1%;
    border: solid 0px red;
    cursor: pointer;
}

li.file_info:hover {
    background-color: #ccc;
}

div.content_wrap {
    margin: 2% 0 0 0.75%;
}

/* 이전 메일, 다음 메일 */
/* 하단 고정 */

div.footer_wrap {
/*    position: absolute;
    bottom: 0px;
    width: 77.5%;
 */
    margin-top: 10%;
}

div.prev, div.next {
    margin-left: 0.75%;
}