@charset "UTF-8";

.content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

table {
	text-align: center;
	font-size: small; 
	width : 100%;
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%
}

th, td {
	padding: 12px;
	border-bottom: 1px solid #ddd;
}

th {
/* 	border-top: 1px solid #ddd; 
	background-color : transparent;
	color: black;
	background-color: transparent;
	 */
	
	font-size: 16px;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-weight: 700;
}

tbody tr:hover {
	background-color: #f1f1f1;
}

button {
	background-color: #d2d0d0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}

.approval_line_name {
	border: 1px solid #ecf0f8;
	border-radius: 5px;
	padding: 10px 55px;
	margin-bottom: 40px;
}

input {
	width: 80%;
	padding: 12px;
	font-size: 16px;
	border-radius: 4px;
	border: 1px solid #ecf0f8;
	box-sizing: border-box; 
	transition: border-color 0.3s ease; 
}

.approval_line_form {
	width: 100%;
	height: fit-content;
	border-radius: 4px;
	border: 1px solid #ecf0f8;
}

.approval_line_form .label {
	background-color: #ecf0f8;
	padding: 12px;
}

.form_box {
	margin: 12px;
	height: 100%;
	border: 1px solid #ecf0f8;
	border-radius: 5px;
	padding: 40px;
}

.select-approver-btn-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contents button {
	font-size: 14px;
	border-radius: 5px !important;
	background-color: transparent;
	margin: 2px;
	padding: 6px 12px;
	border: none;
	cursor: pointer;
}